USE [master]
GO
/****** Object:  Database [ExportDemo]    Script Date: 2017/10/26 14:55:21 ******/
CREATE DATABASE [ExportDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExportDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ExportDemo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExportDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ExportDemo_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExportDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExportDemo]
GO
/****** Object:  Table [dbo].[Sys_User]    Script Date: 2017/10/26 14:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[VCRTTIME] [datetime] NULL,
	[VCRTUSER] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_User] ON 

INSERT [dbo].[Sys_User] ([ID], [EmployeeCode], [EmployeeName], [VCRTTIME], [VCRTUSER]) VALUES (1, N'sysadmin', N'sysadmin', CAST(0x0000A81800B3ACE3 AS DateTime), N'Luis')
INSERT [dbo].[Sys_User] ([ID], [EmployeeCode], [EmployeeName], [VCRTTIME], [VCRTUSER]) VALUES (2, N'Andy', N'Andy.Li', CAST(0x0000A81800B3ACE3 AS DateTime), N'sysadmin')
SET IDENTITY_INSERT [dbo].[Sys_User] OFF
USE [master]
GO
